<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1> Welcome to the Quizzes website </h1>
    <br> </br>
    <br> </br>
    <p> Please login or sign up below Pyladies: </p>
    <br> </br>
    <br> </br>
    <form method="POST" action="/login">
    username: <input type="text" name="username" value={{username}}><br>
    <br> </br>
    password: <input type="text" name="password" value={{password}}>
    <br> </br>
    <input type="submit" name="Login">
    </form>
</body>
</html>
